
.body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: var(--color-elemento);
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: var(--color-texto);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  color: var(--color-texto);
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 14px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: var(--color-scroll);
  color: var(--color-texto);
  font-size: 14px;
}

.login-form input:focus {
  outline: none;
  background-color: var(--color-header);
}

.login-form button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background-color: #00b4aa; /* Puedes convertir esto en variable si quieres */
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #009a91;
}

.hint {
  margin-top: 15px;
  font-size: 13px;
  color: var(--color-texto);
  text-align: center;
  opacity: 0.7;
}
